@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200');
body {
  font-family: 'Gothic A1', sans-serif;
  text-align: center;
  color: #007bff;
}

html body {
  background-color: #dddddd;
}

.left-input {
  margin-right: 10px;
}

.right-input {
  margin-left: 10px;
}

.result {
  margin-top: 10px;
  font-size: 20px;
}

.middle-btn {
  border-left: 2px;
  border-right: 2px;
  border-color: white;
  z-index: 9999;
}

button {
  padding: 3px !important;
}
